[project]
	description = An open source vector-based mobile navigation program with routing engine soon to be on Tizen.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Steve Mattison (smattiso)
[access "refs/for/refs/*"]
	read = group user/Steve Mattison (smattiso)
	push = group user/Steve Mattison (smattiso)
	label-Code-Review = -2..+2 group user/Steve Mattison (smattiso)
	label-Verified = -1..+1 group user/Steve Mattison (smattiso)
	rebase = group user/Steve Mattison (smattiso)
	removeReviewer = group user/Steve Mattison (smattiso)
	submit = group user/Steve Mattison (smattiso)
[access "refs/heads/*"]
	read = group user/Steve Mattison (smattiso)
	create = group user/Steve Mattison (smattiso)
	push = +force group user/Steve Mattison (smattiso)
	pushMerge = group user/Steve Mattison (smattiso)
[access "refs/tags/*"]
	push = +force group user/Steve Mattison (smattiso)
	pushTag = group user/Steve Mattison (smattiso)
	pushSignedTag = group user/Steve Mattison (smattiso)
